body {
    background-color: burlywood;
}

.gallery {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.gallery svg {
    margin-left: 4vw;
}

.iphone circle,
#iphone-icon circle {
    animation: grow 2s infinite;
    transform-origin: bottom;
}


@keyframes grow {
    0% {transform: scale(1);}
    50% {transform: scale(0.5);}
    100% {transform: scale(1);}
}

.multi-shape circle {
    fill: none;
    stroke: #008B6F;
    stroke-width: 7px;
}

.multi-shape line {
    stroke: black;
    stroke-width: 5px;
}

.multi-shape text {
    font-size: 60px;
    text-anchor: middle;
    font-family: 'FilmotypeMajor';
    stroke: #000;
    stroke-width: 3px;
    fill: #F6F7F3;
}

.multi-shape polygon {
    fill: #008B6F;
    stroke: black;
    stroke-width: 2px;
}

.small-tri-group polygon {
    stroke-width: 1px;
}

.multi-shape {
    height: auto;
    min-width: 100px;
    width: 30vw;
}

.curve-line {
    height: auto;
    min-width: 50px;
    width: 20vw;
}

.curve-line path {
    fill: none;
    stroke: rebeccapurple;
    stroke-width: 4px;
    stroke-linecap: round;
}

.defined-icon {
    display: none;
}

#iphone-icon rect, #iphone-icon circle {
    fill: white;
}

#iphone-icon rect {
    stroke: #FF2626;
    stroke-width: 10px;
}

.top-displayed-icon {
    
    width: 5vw;
    
}

.displayed-icon {
    height: auto;
    width: 20vw;
    min-width: 80px;
}

.my-path {
    border: green solid;
    height: auto;
    width: 20vw;
    min-width: 150px;
}