body {
    background-color: burlywood;
}

.gallery {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.gallery svg {
    margin-left: 4vw;
}

.iphone circle,
#iphone-icon circle {
    animation: grow 2s infinite;
    transform-origin: bottom;
}


@keyframes grow {
    0% {transform: scale(1);}
    50% {transform: scale(0.5);}
    100% {transform: scale(1);}
}

.multi-shape circle {
    fill: none;
    stroke: #008B6F;
    stroke-width: 7px;
}

.multi-shape line {
    stroke: black;
    stroke-width: 5px;
}

.multi-shape text {
    font-size: 60px;
    text-anchor: middle;
    font-family: 'FilmotypeMajor';
    stroke: #000;
    stroke-width: 3px;
    fill: #F6F7F3;
}

.multi-shape polygon {
    fill: #008B6F;
    stroke: black;
    stroke-width: 2px;
}

.small-tri-group polygon {
    stroke-width: 1px;
}

.multi-shape {
    height: auto;
    min-width: 100px;
    width: 30vw;
}

.curve-line {
    height: auto;
    min-width: 50px;
    width: 20vw;
}

.curve-line path {
    fill: none;
    stroke: rebeccapurple;
    stroke-width: 4px;
    stroke-linecap: round;
}

.defined-icon {
    display: none;
}

#iphone-icon rect, #iphone-icon circle {
    fill: white;
}

#iphone-icon rect {
    stroke: #FF2626;
    stroke-width: 10px;
}

.top-displayed-icon {
    
    width: 5vw;
    
}

.displayed-icon {
    height: auto;
    width: 20vw;
    min-width: 80px;
}

.my-shape {
    transition: all 1.3s
}

svg:hover .my-shape{
    fill:blue;
    transform: scale(0.9)
}

.blue-eyes .eye-color {
    fill:#175282;
}


.sad .mouth {
    transform: rotate(180deg) scale(.5);
    transform-origin: 340px 390px;
}

@keyframes moveEyes {
    20% {
        transform: translate(-18px, -20px);
    }

    40% {
        transform: translate(0, 0);
    }

    65% {
        transform: translate(18px, -20px);
    }
}



.move-around .inner-eye-group {
    animation: moveEyes 12s infinite;
}

@keyframes left-whiskers {
    20% {
        transform: rotate(5deg);
    }

    60% {
        transform: rotate(-5deg);
    }
}
.move-around .left-whiskers {
    animation: left-whiskers 3s infinite;
    transform-origin: 320px 350px;
}

@keyframes right-whiskers {
    5% {
        transform: rotate(-2deg);
    }

    90% {
        transform: rotate(7deg);
    }
}
.move-around .right-whiskers {
    animation: right-whiskers 3s infinite;
    transform-origin: 330px 350px;
}

@keyframes move {

    20% {
        transform: rotateY(10deg) rotateX(10deg);
    }

    40% {
        transform: rotateY(25deg) rotateX(10deg);
    }

    60% {
        transform: rotateY(-10deg) rotateX(-10deg);
    }
}

.move-around {
    animation: move 8s infinite;
}

.svg-cat-container {
    perspective: 1000px;
}