body {
    background-color: burlywood;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.iphone circle {
    animation: grow 2s infinite;
    transform-origin: bottom;
}


@keyframes grow {
    0% {transform: scale(1);}
    50% {transform: scale(0.5);}
    100% {transform: scale(1);}
}

.multi-shape circle {
    fill: none;
    stroke: #008B6F;
    stroke-width: 7px;
}

.multi-shape line {
    stroke: black;
    stroke-width: 5px;
}

.multi-shape text {
    font-size: 60px;
    text-anchor: middle;
    font-family: 'FilmotypeMajor';
    stroke: #000;
    stroke-width: 3px;
    fill: #F6F7F3;
}

.multi-shape polygon {
    fill: #008B6F;
    stroke: black;
    stroke-width: 2px;
}