.lession-1,
.lession-2 {
    width: 30vw;
    height: auto;
    border: 1px solid green;
}

.lession-1 .grid-background,
.lession-2 .grid-background {
    stroke: green;
    stroke-width: 0.2px;
}

.lession-1 .arrow-1,
.lession-1 .arrow-2 {
    stroke: green;
    stroke-width: 1px;
    fill: green;
}

.point-8-stroke-width {
    stroke-width: .8px;
}

.small-font,
.big-font {
    font-family: Arial, Helvetica, sans-serif;
}

.small-font {
    font-size: .2rem;
}

.big-font {
    font-size: .4rem;
}

.l2-circle circle {
    stroke-width: 1px;
    stroke: maroon;
    fill: yellow;
    opacity: .4;
}

.l2-ellipse ellipse {
    stroke-width: 1px;
    stroke: blueviolet;
    fill: none;
    opacity: .6;
}